<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../../plugins/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../content/css/Home/Index.css?v=1" rel="stylesheet" type="text/css">
</head>

<body id="Home">
    <header class="container-fluid-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" id="corpoCabecalho">
                <div class="logo">
                    <a href="#">
                        <img src="../../media/images/banho_e_magia_logo.png" class="img-fluid" id="banho_e_magia_logo" alt="Logo da empresa Banho e Magia" title="Sabonetes da Banho e Magia">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre Nós</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid-sm">
        <div id="apresentacao" class="text-center">
            <div id="bg" class="container-fluid-sm"></div>
            <h1>O sabonete feito por mim, para você!</h1>
        </div>

    </main>

    <footer class="container-fluid-sm">
        Rodapé
    </footer>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/popper.min.js"></script>
    <script src="../../plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../content/js/Home/Index.js?v=1"></script>
</body>

</html>